@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  background: -webkit-linear-gradient(left, #f8f8f8, #fff);
  background: linear-gradient(to right, #f8f8f8, #fff);
}

body, select, button, input, th, td {
  font-weight: normal;
}

select {
  border: none;
  padding: 1px;
}

section {
  padding: 50px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th {
  padding: 20px 15px;
  text-align: left;
}

td {
  padding: 5px 15px;
  text-align: left;
  vertical-align: middle;
}

.credentials {
  padding: 5px 0px;
  margin: 10px 0 0 0;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
}

.credentials > form > span,
.credentials > form > input,
.credentials > form > button {
  display: block;
  margin: 25px;
  width: 250px;
}

.credentials > form > span i {
  color: rgba(0,0,0,.25);
}

.credentials i.close {
  display: block;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.tbl-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
}

.tbl-header tr > th:last-child {
  text-align: right;
}

.tbl-header tr > th:last-child span {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.tbl-content {
  overflow-x: auto;
  margin-top: 0px;
}

.tbl-content tbody {
  border-bottom: dashed 1px rgba(0, 0, 0, 0.1);
}

.tbl-messages tr {
  background-color: rgba(9, 109, 217, 0.25);
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgb(255, 255, 255);
}

.tbl-messages tr.error {
  background-color: rgba(255, 100, 100, 0.5);
}

.tbl-messages i {
  float: right;
  vertical-align: middle;
  line-height: 18px;
  cursor: pointer;
}

.tbl-auth {
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
}

.tbl-auth tr {
  background-color: rgba(9, 109, 217, 0.45);
  font-size: 12px;
  color: #fff;
}

.userpanel_actions {
  text-align: right;
}

.userpanel_actions span,
.tbl-header i {
  margin-left: 20px;
  cursor: pointer;
}

.userpanel_input {
  font-size: 12px;
  width: 150px;
  margin-right: 5px;
  border-color: #fff;
}

.userpanel_submit {
  font-size: 12px;
  border-color: #fff;
}

.tbl-messages tr td:first-child {
  width: 200px;
}

.score_indicator_0 > i, i.score_indicator_0 {
  color: rgb(212, 48, 48);
}

.score_indicator_1 > i, i.score_indicator_1 {
  color: rgb(235, 150, 70);
}

.score_indicator_2 > i, i.score_indicator_2 {
  color: rgb(223, 236, 39);
}

.score_indicator_3 > i, i.score_indicator_3 {
  color: rgb(43, 226, 83);
}

select.panel {
  margin-right: 10px;
}

.comment {
  background: #fff;
}

.add_comment {
  background: #eee;
  border-style: dashed;
}

.input_comment {
  width: 250px;
}

.dasboard_title {
  padding: 6px 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
}

.dashboard_status {
  padding: 15px;
}

.dashboard_status > span {
  display: inline-block;
  font-size: 12px;
  padding: 3px 8px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
}
